<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="assets/images/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Digital Fraud Ads Detection Using AI</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="static/assets/css/fontawesome.css">
    <link rel="stylesheet" href="static/assets/css/style.css">
    <link rel="stylesheet" href="static/assets/css/owl.css">

  </head>

  <body>

    <!-- 
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    -->

    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="{{ url_for('.home') }}"><h2>Digital Fraud Add Detection</h2></a>
         
            <span class="navbar-toggler-icon"></span>          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('.home') }}">Home                    </a>                </li> 

                <li class="nav-item"><a class="nav-link" href="{{ url_for('.about') }}">About</a></li>

                <li class="nav-item"><a class="nav-link" href="{{ url_for('.contact') }}">Contact</a></li> 

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">More</a>
                    
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="{{ url_for('.rules')}}">Rules</a>
                      </div>
                </li>
                
                <li class="nav-item"><a class="nav-link" href="{{ url_for('.login') }}">Login</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="banner header-text">
      <div class="owl-banner owl-carousel">
        <div class="banner-item-01">
          <div class="text-content">
            <h4>Find your Best Offer Today</h4>
          </div>
        </div>
        <div class="banner-item-02">
          <div class="text-content">
            <h4>Fugiat Aspernatur</h4>
            <h2>Laboriosam reprehenderit ducimus</h2>
          </div>
        </div>
        <div class="banner-item-03">
          <div class="text-content">
            <h4>Saepe Omnis</h4>
            <h2>Quaerat suscipit unde minus dicta</h2>
          </div>
        </div>
      </div>
    </div>
    <!-- Banner Ends Here -->
    <div class="best-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Welcome to Digital Fraud Adds Web Portal </h2>
            </div>
          </div>
          <div class="col-md-6">
            <div class="left-content">
              <p>Terms & Conditions
All listings may go through a review process and the approval of a listing will be at the discretion of CarWale. Prospective buyers will see images after they are approved. Rest of the details will be visible instantly after Ad goes live.
An individual user can list only two cars as part of the free listings. If user wants to upload third car, he will have to delete one of the existing live cars from CarWale.
As a Seller you certify that all information provided by you against your listed car is true.
Seller is alone responsible for completing and verification of the documentation part, before concluding the sale. Any sale concluded on the part of the Seller, shall be the sole responsibility of the Seller.</p>
<p>
Please note:
Free listing plan is brought to you by MXC Solutions India Pvt. Ltd. ("CarWale") and is open only to individuals or private party sellers who list their car for sale on CarWale. Dealers, brokers or those individuals who trade in cars are not eligible.
CarWale reserves the right to withdraw and/or alter any or all of the terms and conditions of the plan at any time without prior notice.
You authorise CarWale/CarTrade to call or SMS you in connection with your car Advertisement.
Any dispute arising out of or in connection with this scheme shall be subject to the exclusive jurisdiction of the courts in Mumbai only. The existence of a dispute, if any, shall not constitute a claim against CarWale.
</p>
<p>
Any individual, who lists his/ her car on CarWale availing the plan, accepts the Terms and Conditions specified above in total.
User will not abuse or misuse the website or engage in any activity which violates the terms of this Agreement. In any such case, CarWale may suspend user account or permanently debar him/her from accessing the Website.</p>
              <p>&nbsp;</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-image">
              <img src="static/two2.png" alt="" width="844" height="280">            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="call-to-action">
      <div class="container">
        <div class="row"></div>
      </div>
    </div>

    
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">

            </div>
          </div>
        </div>
      </div>
    </footer>


    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


    <!-- Additional Scripts -->
    <script src="static/assets/js/custom.js"></script>
    <script src="static/assets/js/owl.js"></script>
  </body>
</html>