<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="assets/images/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Digital Fraud Ads Detection Using AI</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="static/assets/css/fontawesome.css">
    <link rel="stylesheet" href="static/assets/css/style.css">
    <link rel="stylesheet" href="static/assets/css/owl.css">

  </head>

  <body>

    <!--  
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    -->

    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="{{ url_for('.home') }}"><h2>Digital Fraud Add Detection</h2></a>
         
            <span class="navbar-toggler-icon"></span>          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('.home') }}">Home                    </a>                </li> 

                <li class="nav-item"><a class="nav-link" href="{{ url_for('.about') }}">About</a></li>

                <li class="nav-item"><a class="nav-link" href="{{ url_for('.contact') }}">Contact</a></li> 

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">More</a>
                    
                    <div class="dropdown-menu">
                       <a class="dropdown-item" href="{{ url_for('.rules') }}">Rules</a>
                      </div>
                </li>
                
                <li class="nav-item"><a class="nav-link" href="{{ url_for('.login') }}">Login</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="banner header-text">
      <div class="owl-banner owl-carousel">
        <div class="banner-item-01">
          <div class="text-content">
            <h4>Find your Best Offer Today</h4>
          </div>
        </div>
        <div class="banner-item-02">
          <div class="text-content">
            <h4>Fugiat Aspernatur</h4>
            <h2>Laboriosam reprehenderit ducimus</h2>
          </div>
        </div>
        <div class="banner-item-03">
          <div class="text-content">
            <h4>Saepe Omnis</h4>
            <h2>Quaerat suscipit unde minus dicta</h2>
          </div>
        </div>
      </div>
    </div>
    <!-- Banner Ends Here -->
    <div class="best-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Ad Posted Successfully </h2>
            </div>
          </div>
          <div class="col-md-6">
            <div class="left-content">
              <p>With the increase in Internet usage, it is now  considered a very important platform for advertising and marketing. Digital  marketing has become very important to the economy: some of the major Internet  services available publicly to users are free, thanks to digital advertising.  It has also allowed the publisher ecosystem to flourish, ensuring significant  monetary incentives for creating quality public content, helping to usher in  the information age. Digital advertising, however, comes with its own set of challenges.  One of the biggest challenges is ad fraud. There is a proliferation of  malicious parties and software seeking to undermine the ecosystem and causing  monetary harm to digital advertisers and ad networks. Pay-per-click advertising  is especially susceptible to click fraud, where each click is highly valuable. </p>
              <p>This  leads advertisers to lose money and ad networks to lose their credibility,  hurting the overall ecosystem. Much of the fraud detection is done in offline  data pipelines, which compute fraud/non-fraud labels on clicks long after they  happened. This is because click fraud detection usually depends on complex  machine learning models using a large number of features on huge datasets,  which can be very costly to train and lookup. In this thesis, the existence of  low-cost ad click fraud classifiers with reasonable precision and recall is  hypothesized. A set of simple heuristics as well as basic machine learning  models (with associated simplified feature spaces) are compared with complex  machine learning models, on performance and classification accuracy. Through  research and experimentation, a performing classifier is discovered which can  be deployed for real-time fraud detection.</p>
              <p>&nbsp;</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-image">

          </div>
        </div>
      </div>
    </div>

    <div class="call-to-action">
      <div class="container">
        <div class="row"></div>
      </div>
    </div>

    



    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="staticvendor/bootstrap/js/bootstrap.bundle.min.js"></script>


    <!-- Additional Scripts -->
    <script src="static/assets/js/custom.js"></script>
    <script src="static/assets/js/owl.js"></script>
  </body>
</html>